<ul id="posts">
    <li>
        <div style="text-align:center;">
            <p><img id="about" src="/content/avatar.jpg" /></p>
            <small>筑波大学大学院 博士後期課程1年<br>
            日本学術振興会 特別研究員(DC1)<br>
            <a href="http://www.shimoda.tsukuba.ac.jp/" target="_blank">筑波大学下田臨海実験センター</a><br></small>
        </div>
        <li>
        <div class = "yokonarabe">
            <div>
                <a href="mailto:hayashi@shimoda.tsukuba.ac.jp" target="_blank">
                <img id="icon" src="/mail-icon.png" /></a>
            </div>&nbsp;&nbsp;&nbsp;
            
            <div>
                <a href="https://scholar.google.com/citations?hl=ja&amp;user=IRMc1mwAAAAJ" target="_blank">
                <img id="icon" src="/scholar-icon.png" /></a>
            </div>&nbsp;&nbsp;&nbsp;

            <div>
                <a href="https://twitter.com/dangom_ya" target="_blank">
                <img id="icon" src="/twitter-logo.png" /></a>
            </div>
        </div>
        </li>
    </li>
</ul>
